@font-face {
  font-family: 'feather';
  src: url('fonts/feather-subset.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="feather-"], [class*=" feather-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.feather-alert-triangle:before {
  content: "\e904";
}
.feather-award:before {
  content: "\e919";
}
.feather-bar-chart:before {
  content: "\e91a";
}
.feather-bar-chart-2:before {
  content: "\e91b";
}
.feather-briefcase:before {
  content: "\e926";
}
.feather-check-circle:before {
  content: "\e92c";
}
.feather-cpu:before {
  content: "\e950";
}
.feather-dollar-sign:before {
  content: "\e957";
}
.feather-edit-3:before {
  content: "\e95d";
}
.feather-feather:before {
  content: "\e963";
}
.feather-globe:before {
  content: "\e978";
}
.feather-hard-drive:before {
  content: "\e97a";
}
.feather-image:before {
  content: "\e981";
}
.feather-instagram:before {
  content: "\e984";
}
.feather-mail:before {
  content: "\e992";
}
.feather-map-pin:before {
  content: "\e994";
}
.feather-monitor:before {
  content: "\e9a2";
}
.feather-phone:before {
  content: "\e9b2";
}
.feather-phone-call:before {
  content: "\e9b3";
}
.feather-repeat:before {
  content: "\e9c5";
}
.feather-scissors:before {
  content: "\e9cb";
}
.feather-search:before {
  content: "\e9cc";
}
.feather-settings:before {
  content: "\e9cf";
}
.feather-shield:before {
  content: "\e9d2";
}
.feather-shopping-bag:before {
  content: "\e9d4";
}
.feather-target:before {
  content: "\e9e8";
}
.feather-trending-up:before {
  content: "\e9f4";
}
.feather-users:before {
  content: "\ea05";
}
.feather-wifi:before {
  content: "\ea0e";
}
